<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <h1><%= current_page.data.title || title %></h1>
    <%= yield %>

    <%= partial 'partials/textile_toc', locals: {contents: data.textile} %>
  <!--- article.textile-manual
    .row
      .small-12.medium-9.columns
        header.page-header
          h1= current_page.data.title || title
        .content
          == yield
      .hide-for-small-only.medium-3.columns
      = partial 'partials/textile_toc', locals: {contents: data.textile} --->

  </body>
</html>
